<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" parallel="classes">
    <test name="Regression1">
        <classes>
            <class name="login.form.LoginPositiveTest"/>
            <class name="login.form.LoginNegativeTest"/>
            <class name="checkboxes.CheckboxTest"/>
            <class name="dropdowns.DropdownTest"/>
            <class name="wait.WaitTest"/>
            <class name="handles.MultipleWindowsTest"/>
        </classes>
    </test>

</suite>