<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" parallel="classes">
    <test name="Regression1">
        <classes>
            <class name="login.LoginPositiveTest"/>
            <class name="login.LoginNegativeTest"/>
            <class name="checkboxes.CheckboxTest"/>
            <class name="dropdowns.DropdownTest"/>
            <class name="wait.WaitTest"/>
        </classes>
    </test>

</suite>